<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="phpunit.bootstrap.php">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener" />
    </listeners>
    <filter>
        <blacklist>
            <directory suffix=".php">./Api/Exceptions/</directory>
            <directory suffix=".php">./Guzzle/Exceptions/</directory>
        </blacklist>
        <whitelist>
            <directory suffix=".php">./Api/</directory>
            <directory suffix=".php">./Guzzle/</directory>
        </whitelist>
    </filter>
</phpunit>
